@import './variables.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

body {
  background-color: var(--default-background-color);
  color: #000;
  font-size: var(--font-size-medium);
  
  font-family: "Poppins", sans-serif;
}

button, input{
  outline: none;
  border: transparent;
}
