@import './variables.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.4s;
  scroll-behavior: smooth;
}

body {
  background-color: var(--default-background-color);
  color: #000;
  font-size: var(--font-size-medium);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

button, input{
  outline: none;
  border: transparent;
}


.not-found-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.not-found-page .return-link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}



