.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background-color: transparent;
  box-sizing: border-box;
  position: absolute;
  z-index: 20;
  width: 100%;
}

.navbar.fixed {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar.fixed .nav-links li a{
  color: var(--color-darker-shade);
}

.navbar.fixed .nav-links li a:hover{
  border: 1px solid var(--color-darker-shade);

}

.navbar.fixed .hamburger-menu span{
  background-color: var(--color-normal-shade);
}

.navbar.absolute {
  position: absolute;
  background-color: transparent;
}

.navbar img {
  width: 70px;
  height: auto;
}

.nav-links {
  display: flex;
  list-style: none;
 
  align-items: center;
}

.nav-links li a{
  margin-left: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 25px;
}

.nav-links li a:hover{
  border: 1px solid #fff;
}

.nav-links div {
  display: flex;
  color: #fff;
  align-items: center;
}

.nav-links div a {
  margin-left: 20px;
  cursor: pointer;
  font-weight: 600px;
}

.nav-links div .get-the-app{
  background-color: var(--color-intermediate-light-shade);
  padding: 6px 15px;
  border-radius: 15px;
}

.nav-links div .get-the-app:hover{
  background-color: var(--color-normal-shade);
}



/*hamburger menu styling*/
.hamburger-menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 32px;
  padding: 6px;
  cursor: pointer;
  display: none;
}

.hamburger-menu span{
  height: 2px;
  width: 20px;
  background-color: white;
}

@media screen and (max-width: 600px){

  .navbar{
    padding: 10px;
  }

  .hamburger-menu{
    display: flex;
  }

  .nav-links{
    display:  none;
  }

  
}