.partners-section {
  padding: 60px 40px;
}

.partners-section h2 {
  margin-bottom: 25px;
  text-align: center;
}

.partners-section div {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.partners-section div img {
  width: 8%;
  cursor: pointer;
  height: auto;
}

.partners-section div img:hover {
  transform: scale(1.3);
}
