.other-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--color-very-light-shade);
  padding: 40px;
}

.other-section .sub-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.other-section .sub-section img {
  width: 60%;
  border-radius: 6px;
}

.other-section .sub-section div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.other-section .sub-section div h2 {
  font-size: 35px;
}

.other-section .sub-section div p {
  font-size: 20px;
}

.other-section .sub-section div a {
  background-color: var(--color-darker-shade);
  width: 60%;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}
